.table {
    border-collapse: collapse;
    width: 760px;
    margin: 0 auto;
}

.tHeader {
    font-size: 25px;
    font-weight: 600;
    background-color: #2A2A2A;
    color: white;
}


.tableRow:nth-child(even) {
    background-color: #f2f2f2;
}
